.interests__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interests__list-item {
  color: var(--clr-bg);
  margin: 0.5em;
}