.project {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  background-color: var(--box-color);
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.bottom {
  margin-top: auto;
}

.dark {
  --pro_title: #444;
}

.dark {
  --pro_title: #ffc2c2; 
  /* DDDDDD */
}

.pro_title h3 {
  color: var(--pro_title);
}

.launch {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translate(30%);
  background-color: var(--clr-primary);
  padding: 3px;
  color: white;
  border-radius: 0 20% 20% 0;
}